<a href="#" title="Refresh" onclick="window.location.reload();" class="{% block class %}btn btn-light d-flex align-items-center{% endblock %}">
    {% block content %}
        <svg width="16" height="16" fill="currentColor"><use xlink:href="#refresh-icon"/></svg>
    {% endblock %}
</a>
