{% extends '@ZenstruckMessengerMonitor/layout.html.twig' %}

{% block title %}History{% endblock %}

{% block breadcrumb_items %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">History</li>
{% endblock %}
